<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="uid=sa;pwd=880118;database=lgqn;server=(local)"/>-->
    <add key="ConnectionString" value="Data Source=(local);Initial Catalog=youth_whut;Integrated Security=True" />
    <!--<add key="ConnectionString" value="Data Source=(local);database=youth_whut;server=(local)" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--文件上传大小限制 requestValidationMode="2.0" 解决从客户端(...)中检测到有潜在危险的 Request.Form 值 的问题
            同时添加了requestValidationMode="2.0"到<httpRuntime>节点中 -->
    <httpRuntime targetFramework="4.0" requestValidationMode="2.0" executionTimeout="3000" maxRequestLength="10240" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
		
		-->
    <customErrors mode="On" defaultRedirect="404.htm">
    </customErrors>
    <!--<httpModules>
      --><!--设置权限过滤器--><!--
      <add name="AuthorityFilter" type="Web.App_Code.AuthorityFilter" />
    </httpModules>-->


    <!--
            解决从客户端(...)中检测到有潜在危险的 Request.Form 值 的问题
            同时添加了requestValidationMode="2.0"到<httpRuntime>节点中
        -->
    <pages validateRequest="false" />
    <!--<httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory,Ajax" />
    </httpHandlers>-->
  </system.web>
  <system.codedom>
  </system.codedom>

  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <add value="youth_index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
