/* CSS Document */
/*新闻滚动，名言滚动*/
.scrollNews{
width:960px;
height:40px;
line-height:40px;
overflow:hidden;
margin:0 auto;
border-bottom:1px solid #ddd;
}
.scrollNews ul{

}
.scrollNews ul li{
height:40px;
line-height:40px;
text-decoration:none;
color:#333;
font-size:14px;
}