/* CSS Document */
/*修改添加*/
body{padding-top:60px;}
body{behavior:url("../css/csshover.htc");}
.nav-collapse ul li{border-right:1px solid #222;border-left:1px solid #111}
.brand{border-right:1px solid #222;}
.line{border-bottom:1px solid #eee;height:1px;}
.news_ul{padding:0; list-style-type:none; margin:0;}
.news_ul li{margin:8px 0; border-bottom:1px dashed #eee; padding-bottom:4px;}
.news_ul li span{float:right;}
/*.news_ul li a{color:#999; float:left;}
.news_ul li a:hover{color:#ccc; text-decoration:none;}*/
.news_ul li a{ float:left;}
.clear{clear:both;}
.row{margin-bottom:20px;}
.left_nav_first_a{font-weight:bold;}
.left_nav_first_a:hover{text-decoration:none; color:none;}
.left_nav_second_a{color:#666; text-indent:1em;}
.left_nav_second_a:hover{ text-decoration:none; color:#999;}
.accordion-heading{ background:#efefef;}
#scrollUp {
bottom: 20px;
right: 20px;
height: 38px;
width: 38px;
background: url(../img/top.png) no-repeat;
}
.clear{ clear:both;}
/*左边导航*/
.my_left_category{
width:220px;
font-size:14px;
font-family:arial,sans-serif;
letter-spacing:2px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border-color:#e5e5e5;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
box-shadow: 0 1px 4px rgba(0,0,0,.065);
border-style:solid;
border-width:1px 1px 1px 1px;
}
.my_left_category h2{
background:#08c;
height:28px;
font-size:14px;
padding-left:15px;
padding-bottom:8px;
padding-top:0px;
margin:0px;
color:#FFF;
}
.my_left_category .my_left_cat_list{
width:218px;
line-height:13.5pt;
}
/*.my_left_category .my_left_cat_list h2 {
margin:0px;
padding:3px 5px 0px 9px;
}
.my_left_category .my_left_cat_list h2 a {
color:#d6290b;
font-weight:bold;
font-size:14px;
line-height:22px;
}
.my_left_category .my_left_cat_list h2 a:hover {
color:#d6290b;
font-weight:bold;
font-size:14px;
line-height:22px;
}*/
.my_left_category .h2_cat{
width:220px;
height:34px;
background:url(../img/jiantou.jpg) no-repeat center right;
line-height:34px;
font-weight:normal;
color:#999;
position:relative;
border-bottom:1px solid #e5e5e5;
text-indent:1.5em;
}
.my_left_category .h2_cat:hover{
background:#eee;
}
/*.my_left_category .h2_cat_1{
width:148px;
height:26px;
background-image:url(../img/jiantou.jpg);
background-repeat:no-repeat;
line-height:26px;
font-weight:normal;
color:#333333;
position:relative;
}*/
.my_left_category a{
font:14px;
text-decoration:none;
}
.my_left_category a:hover{
text-decoration: none;
}
.my_left_category h3{
margin:0px;
padding:0px;
height:26px;
font-size:14px;
font-weight:normal;
display:block;
padding-left:8px;
}
.my_left_category h3 span{color:#999999; width:145px; float:right;}
.my_left_category h3 a{ line-height:26px;}
.my_left_category .h3_cat{
display:none;
width:204px;
position:absolute;
left:123px;
margin-top:-26px;
cursor:auto;
}
.my_left_category .shadow{
position:inherit;
width:204px;
}
.my_left_category .shadow_border{
position:inherit;
width:200px;
border:1px solid #e5e5e5; margin-top:1px;
/*border-left-width:0px;*/
background-color:#ffffff;
margin-bottom:3px;
text-indent:0em;
}
.my_left_category .shadow_border ul{margin:0; padding:0; margin-left:15px}
.my_left_category .shadow_border ul li {
list-style:none;
padding-left:16px;
background:url(../img/jiantou.jpg) no-repeat center left;
float:left;
width:75px;
height:34px;
line-height:34px;
overflow:hidden;
letter-spacing:0px;
border-bottom:1px solid #e5e5e5;
}
/*.my_left_category .active_cat{ z-index:99;background-position:0 -25px;cursor:pointer;}
.my_left_category .active_cat h3 { font-weight:bold}
.my_left_category .active_cat h3 span{ display:none;}*/
/*.my_left_category .active_cat div{display:block;}*/
.my_left_category .h2_cat:hover div{
display:block;
}
.my_left_category .h2_cat:hover{ z-index:99;background-position:0 -25px;cursor:pointer;}
.my_left_category .h2_cat:hover h3 { font-weight:bold}
.my_left_category .h2_cat:hover h3 span{ display:none;}

div.active_nav a{
font-weight:bold;
text-decoration:none;
color: #333333;
}
div.active_nav .h3_cat a{
font-weight: normal;
text-decoration:none;
color:#08c;
}
/*当前位置*/
.dangqian{
border-bottom:1px solid #efefef;
padding-left:4px;
padding-bottom:2px;
margin-bottom:14px;
}
/*top_bar*/
.top_bar{ 
height:48px;
line-height:48px;
background:url(../img/top_bar.jpg) no-repeat left center;
}
.top_bar_title{
width:72px;
padding-left:16px;
font-weight:bold;
color:#fff;
float:left;
}
.top_bar_nav{
float:left;
}
.top_bar_nav ul{
list-style-type:none;
margin:0;
padding:0;
}
.top_bar_nav ul li{
float:left;
height:45px;
line-height:48px;
padding:0 10px;
border-right:1px solid #e4e4e4;
}
.top_bar_content{
background:url(../img/top_bar_content.jpg) repeat-y;
padding:10px 20px 0 24px;
 min-height:400px;

}
.bottom_bar{
margin-top:-10px;
text-align:center;
height:26px;
background:url(../img/bottom_bar.jpg) no-repeat left center;
}
/*学习资料搜索*/
.study_resource{
padding-left:96px;
}
.search_input{
width:160px;
}
.search_way{
width:80px;
margin-bottom:0px;
}
/*友情链接
.yqlj a{
color:#000;
padding:0 10px;
}
.yqlj a:hover{
color:#005580;
}*/
.tongzhi
{
    border-right:1px solid #eee;
}
ul.yqlj
{
    padding:0;
    margin:0;
    list-style-type:none;
}
ul.yqlj li
{
    border-top:1px solid #eee;
    padding:7px 0;
    padding-left:18px;
}
input.dl_input
{
    height:28px;
    line-height:28px;
}
